*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
@font-face {
    font-family: "dana-sm";
    src: url(../public/font/DanaFaNum-Regular.woff);
}
@font-face {
    font-family: "dana-bold";
    src: url(../public/font/DanaFaNum-Bold.woff);
}